<div class="row">
  <div class="col-12">
    <h1 class="title-text">Overview</h1>
    <div class="table-responsive">
      <table class="table">
        <tbody *ngIf="(tasks | filter: searchParams)?.length < 1">
          <tr>
            <td colspan="3">
              No data to display
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="(tasks | filter: searchParams)?.length > 0">
          <tr *ngFor="let task of tasks | filter: searchParams" class="column" [ngClass]="{ 'marked-as-done': task.done }">
            <td class="column-done">
              <mat-checkbox [checked]="task.done" (change)="toggleMarkAsDone(task.id)"></mat-checkbox>
            </td>
            <td class="column-label">
              <hr [ngClass]="{ 'no-strike' : !task.done }" />
              <span>{{ task.label }}</span>
              <button class="btn" [ngClass]="{ 'done': task.done }" (click)="deleteTask(task.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" [formGroup]="taskForm">
  <div class="col-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend plus">
        <span class="input-group-text">
          <button class="btn"><i class="fa fa-plus"></i></button>
        </span>
      </div>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="label">
      <div class="input-group-append paper">
        <span class="input-group-text">
          <button class="btn" (click)="addNewTask()"><i class="fa fa-paper-plane"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>
