<div class="row header">
  <div class="col-sm-6">
    <app-search (onSearch)="onSearch($event)"></app-search>
  </div>
  <div class="col-sm-6 profile">
    <div class="profile-image">
      <img src="./../../../assets/images/profile.png" alt="Jocelyn Stanton" />
    </div>
    <div class="profile-details">
      <div class="profile-query"><i class="fa fa-question-circle"></i></div>
      <div class="profile-bell"><i class="fa fa-bell"></i><span></span></div>
      <div class="profile-name">Jocelyn Stanton <i class="fa fa-chevron-down"></i></div>
    </div>
  </div>
</div>

