$color-profile-arrow--grey: #afafaf;
$color-profile-tablet--red: rgb(80, 40, 198);
$color-icon__purple:#5028c6;
$color-table__grey: #dfe2e7;
$color-markedtext--grey: #c1c1c1;
$color-trash__red: rgb(255, 98, 98);
$color-trash-bg__grey: rgb(222, 226, 230);
$color-navbdr__grey: rgb(198, 183, 187);
$color-inputtext--grey: rgb(73, 80, 87);
$color-black: #000000;
$color-grey: #666666;


$bp-lg: 1090px;
$bp-sm: 596px;
