<tr class="columns" [ngClass]="{ 'marked-as-done': isMarkedAsDone }">
   <td class="columns__id">
    {{ taskData.id }}
   </td>
   <td class="columns__label">
     <div class="row">
      <div class="col-12 name">
        {{ taskData.label }}
      </div>
      <div class="col-12 description">
        {{ taskData.description }}
      </div>
     </div>
   </td>
   <td class="columns__category">
    {{ taskData.category }}
   </td>
   <td class="columns__done">
    <button class="btn btn-default" (click)="toggleMarkTaskAsDone()"
      [title]="(isMarkedAsDone) ? 'Click to to reopen task' : 'Click to mark task as done'"
    >
      <i class="fa" [ngClass]="{
        'fa-check' : isMarkedAsDone,
        'fa-close' : !isMarkedAsDone
      }"></i>
      {{ (isMarkedAsDone) ? 'Done' : 'Mark as done' }}
    </button>
   </td>
   <td class="columns__category">
     <button class="btn" (click)="deleteTask()">
      <i class="fa fa-trash"></i>
     </button>
   </td>
</tr>
