<div class="row left-nav">
  <div class="col-sm-12">
    <ul class="main">
      <li><a href="#"><i class="fa fa-home"></i> Overview</a></li>
      <li><a href="#"><i class="fa fa-tasks"></i> Tasks</a></li>
      <li><a href="#"><i class="fa fa-calendar"></i> Today</a></li>
      <li><a href="#"><i class="fa fa-calendar"></i> Next 7 Days</a></li>
    </ul>
    <ul class="main">
      <li class="header"><a href="#" class="labels"><i class="fa fa-chevron-right"></i> Labels</a></li>
      <li><a href="#"><i class="fa fa-tag"></i> Idea</a></li>
      <li><a href="#"><i class="fa fa-chevron-right"></i> Shared Labels</a></li>
      <li><a href="#"><i class="fa fa-chevron-right"></i> Filters</a></li>
    </ul>
    <ul class="main btm-nav">
      <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
      <li><a href="#"><i class="fa fa-sign-in"></i> Sign Out</a></li>
    </ul>
  </div>
</div>

<div class="burger">
    <i class="fa fa-bars"></i>
</div>
