
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 30px;
  margin: 20px auto;
}

.mat-checkbox {
  .mat-checkbox-frame {
    border-radius: 50px !important;
    width: 26px;
    height: 26px;
    top: -5px !important;
    left: -5px !important;
  }

  .mat-checkbox-background {
    border-radius: 50px !important;
  }
}
